<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carimartinez123.sillystories">
    <supports-screens android:requiresSmallestWidthDp="600" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewStoryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_new_story"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.MainActivity" />
        </activity>
        <activity
            android:name=".SavedStoryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_saved_story"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.MainActivity" />
        </activity>
        <activity
            android:name=".CharacterSelectionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_character_selection"
            android:parentActivityName=".NewStoryActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.NewStoryActivity" />
        </activity>
        <activity
            android:name=".NounSelectionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_noun_selection"
            android:parentActivityName=".NewStoryActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.NewStoryActivity" />
        </activity>
        <activity
            android:name=".AdjectiveSelectionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_adjective_selection"
            android:parentActivityName=".NewStoryActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.NewStoryActivity" />
        </activity>
        <activity
            android:name=".BookActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_book"
            android:parentActivityName=".NewStoryActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="carimartinez123.sillystories.NewStoryActivity" />
        </activity>
        <activity
            android:name=".AdverbSelectionActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NumSelectionActivity"
            android:label="@string/title_activity_num"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlaceSelectionActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WeatherSelectionActivity"
            android:label="@string/title_activity_weather_selection"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
